<%- include('../partials/header.ejs')%>
      
  <div style="padding-left:16px">
    <form action="./group/new" method = 'GET'>
      <button>Create a new group</button>
  </form>
    <h1>Current Groups</h1>
    <%if(user){%>
      <%if(pGroups.length > 0){
        for(let i = 0; i < pGroups.length; i++){%>
          <p><%=pGroups[i]%></p>
        <%}
      } else {%>
        <p>You are not currently in any groups</p>
      <%}%>
    <%} else {%>
      <p>Please sign in to see groups</p>
    <%}%>    
  </div>

<%- include('../partials/footer.ejs')%>