<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/new">Create Appointment</a>
    <a href="#!">Appointment Details</a>
    <a href="/groups">Edit Groups</a>
    <a href="/login">Login</a>
</div>